@use "variables" as *;

.footer {
  background-color: $color-blue-light;
  padding: 16px 0;
  text-align: center;
  margin-top: auto;

  &__text {
    font-size: 14px;
    color: $color-gray;
  }

  @media (max-width: 1440px) {
    // Laptop version
    &__container {
      padding: 0 4px;
    }

    &__title {
      font-size: 32px;
    }

    &__subtitle {
      font-size: 10px;
    }
  }

  @media (max-width: 1024px) {
    // Tablet version
    &__container {
      padding: 0 8px;
    }

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 12px;
    }
  }

  @media (max-width: 430px) {
    // Mobile version
    font-size: 12px;
    padding: 10px;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__title-group {
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}
