@use "variables" as *;

.header {
  background-color: $color-blue-light;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 150px;
  }

  &__title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-size: 16px;
    color: $color-gray;
    margin-top: 4px;
  }

  &__language {
    display: flex;
    align-items: center;
    gap: 8px;

    &-select {
      padding: 6px 10px;
      font-size: 16px;
    }

    &-icon {
      width: 20px;
    }
  }

  @media (max-width: 430px) {
    // Mobile version
    .header__container {
      flex-direction: column;
      align-items: center;
    }

    .header__title-group {
      align-items: center;
      text-align: center;
    }

    .header__title {
      font-size: 24px;
    }

    .header__subtitle {
      font-size: 14px;
    }
  }

  @media (max-width: 1024px) {
    // Tablet version
    .header__container {
      padding: 0 8px;
    }

    .header__title {
      font-size: 20px;
    }

    .header__subtitle {
      font-size: 12px;
    }
  }

  @media (max-width: 1440px) {
    // Laptop version
    .header__container {
      padding: 0 4px;
    }

    .header__title {
      font-size: 18px;
    }

    .header__subtitle {
      font-size: 10px;
    }
  }
}
